<!--Store Front VIEW-->

<div class="btn-cart" ng-click="mainCtrl.goToCart()" >
  <i class="fa fa-2x fa-shopping-cart"></i> | <span class="cart-count">{{mainCtrl.cartTotal}} items</span>
  <p>$ {{mainCtrl.cartCost}}</p>
</div>



<div class="container">
  <h2>Crystal//VISIONS</h2>
  <ul class="storefront-products">
    <li class="product" ng-repeat="product in mainCtrl.products">
      <h3>{{product.name}}</h3>
      <img data-ng-src={{product.picture}} />
        <div class="product-info">
          <p><b>Price:</b> ${{product.price}}<p>
          <p><b>Category:</b> {{product.category}}<p>
          <p class="description"><b>Description:</b> {{product.description}}<p>
          <p><b>Rating:</b> {{product.rating}}<p>
        </div>
      <a href="" ng-click="mainCtrl.addProductToCart(product)" class="btn btn-left">Add to cart</a>
      <a href="" ng-click="mainCtrl.goToProductDetail(product._id)" class="btn btn-right">Details</a>
    </li>
  </ul>
  <a class="admin-login "ng-click="mainCtrl.goToLogin()" href="">Admin Login</a>
</div>
