<!--ADMIN EDIT PRODUCT VIEW-->
<div class="backbtn-wrapper">
  <i ng-click="adminCtrl.goToProducts()" class="fa fa-2x fa-arrow-left"></i>
</div>

<div class="container editproduct">
  <h2>You are now editing: {{adminCtrl.singleProduct.name}}</h2>
  <div class="form-wrapper">
    <img data-ng-src={{adminCtrl.singleProduct.picture}} />
    <p>
      <span>Image URL: </span><input type="text" ng-model="adminCtrl.singleProduct.picture" value="{{adminCtrl.singleProduct.picture}}">
    </p>
    <p>
      <span>Description: </span><input type="text" ng-model="adminCtrl.singleProduct.name" value="{{adminCtrl.singleProduct.name}}">
    </p>
    <p>
      <span>Price($): </span><input type="text" ng-model="adminCtrl.singleProduct.price" value="{{adminCtrl.singleProduct.price}}">
    </p>
    <p>
      <span>Description: </span><input type="text" ng-model="adminCtrl.singleProduct.description" value="{{adminCtrl.singleProduct.description}}">
    </p>
    <p>
      <span>Rating: </span><input type="text" ng-model="adminCtrl.singleProduct.rating" value="{{adminCtrl.singleProduct.rating}}">
    </p>
  </div>
  <a href="" class="" ng-click="adminCtrl.submitEdit(adminCtrl.singleProduct)">Submit Edit</a>
</div>
