<!--Template to display all products on admin side-->


<div class="backbtn-wrapper">
  <i ng-click="adminCtrl.goToLogin()" class="fa fa-2x fa-arrow-left"></i>
</div>

<div class="btn-addproduct">
  <i ng-click="adminCtrl.goToAddProduct()" class="fa fa-2x fa-plus"></i>
</div>

<div class="container">
  <h2 class="admin-greeting">Welcome {{adminCtrl.username}}, here are your products...</h2>
  <div class="searchbox-wrapper">
    <input ng-model="query" type="text" name="searchbox" placeholder="filter products...">
  </div>

  <table class="product-table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-item animate-repeat" ng-repeat="product in adminCtrl.products | filter:query as results" ng-class-odd="'odd'" ng-class-even="'even'">
        <td class="image">
          <img data-ng-src={{product.picture}} />
        </td>
        <td class="name">{{product.name}}</td>
        <td class="price">{{product.price}}</td>
        <td>{{product.category}}</td>
        <td>
          <div class="description">{{product.description}}</div>
        </td>
        <td class="rating">{{product.rating}}</td>
        <td>
            <i ng-click="adminCtrl.goToEditProduct(product._id)" class="fa fa-2x fa-pencil"></i>
            <i ng-click="adminCtrl.deleteProduct(product._id)" class="fa fa-2x fa-close"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
