.container {
  margin: 0 auto;
  margin-top:40px;
  width:75%;
  margin-bottom:20px;
}

body {
  background-image: url('../images/bg.png');
  background-repeat:repeat;
  overflow-x:hidden;
}

h2 {
  color:white;
}
