////Transitions between views
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s;

  display:block;
  width:100%;

  position:absolute;
/*   top:0;
left:0;
right:0;
bottom:0; */

  opacity:0;
}

.view-animate.ng-enter {
  //left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  //left:0;
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}


////Product table animations
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  transform:translateX(2000px);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0);
}
